.btn-primary {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn-default {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pad-left {
  margin-left: 10px;
}

.form-group em {
  color: #df691a;
  float: right;
  font-size: larger;
  padding-left: 10px;
}

.form-group label{
  font-size: larger;
}

.error input{
  background-color: #e3c3c5;
}

.error::-webkit-input-placeholder {
  color: #999;
}

.error::-moz-placeholder{
  color: #999;
}

.error:-moz-placeholder{
  color: #999;
}

.error:-ms-input-placeholder{
  color: #999;
}
